@model PhotoShare.Models.Photo

@{
    ViewData["Title"] = "Photo Display";
}

@if (Model.ApplicationUser != null){
    <div class="d-flex">
        <div class="pe-2"><img src="~/profile_img/@Model.ApplicationUser.ImageFilename" alt="@Model.ApplicationUser.Name" class="profile-thumbnail" /></div>
        <div>
            @Model.ApplicationUser.Name
            @if(Model.ApplicationUser.IsForHire == true) {
               <br/><span class="text-primary">Available for hire <i class="fa-solid fa-circle-check"></i></span>
            }
        </div>
    </div>
}

<div class="w-50 mx-auto">
    <img src="~/photos/@Model.ImageFilename" alt="@Model.Description" class="img-fluid" />
</div>

<div class="text-secondary mt-3">
    <i class="fa-solid fa-location-dot"></i> @Model.Location<br />
    <i class="fa-solid fa-camera"></i> @Model.Camera<br />
    <i class="fa-solid fa-calendar"></i> @Model.CreatedAt.ToString("MMM d, yyyy")
</div>

@if(Model.Tags != null)
{
    <div class="mt-3">
        @foreach(var item in Model.Tags)
        {
            <span class="me-2 badge bg-dark">@item.Name</span>
        }
    </div>
}
